[run]
# Exclude submodule directory from coverage
omit =
    launcher/nemo/nemo_framework_launcher/*
    launcher/nova/constants/*
    template/*

[report]
#Fix unit test coverage and increase to 85. commit: 19b365e8c048cd7bdbe64f9fa07310f2cc9402b8
fail_under = 79
