# log and data files
trace
.DS_Store
.hydra
.bash_history.local
.venv
results/
outputs/
tmp/
scripts/validations/models_folder/
.venv/
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**.pyc
core.*

# Unit test / coverage reports
coverage_html_report/
.coverage
.coverage.*
.cache
*.cover
.hypothesis/
.pytest_cache/

# Playground area
mypg/
.idea/
recipes_collection/recipes/fine-tuning/sft/

# Test artifacts
launch_json_test_report.json
launch_json_test.log
templatized*
failed*
