# log and data files
trace
.DS_Store
.hydra
.bash_history.local
.venv
results/
outputs/
tmp/
scripts/validations/models_folder/
.venv/
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**.pyc
core.*

# Unit test / coverage reports
coverage_html_report/
.coverage
.coverage.*
.cache
*.cover
.hypothesis/
.pytest_cache/

# Playground area
mypg/
.idea/
recipes_collection/recipes/fine-tuning/sft/
.kiro/*
!.kiro/hooks/

# Test artifacts
templatized*
failed*
throughput_results*

debug_serverless/
